/* line 17, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/adriaan.scholvinck/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.invisible {
  visibility: hidden;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.clearfix:before, #navigation-main nav ul:before, .clearfix:after, #navigation-main nav ul:after {
  content: " ";
  display: table;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.clearfix:after, #navigation-main nav ul:after {
  clear: both;
}

/* line 1, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_helper.scss */
.clearfix, #navigation-main nav ul {
  *zoom: 1;
}

/* line 5, /Users/adriaan.scholvinck/PROJECTS/BALT/ShoppingCart/public/sass/_navigation.scss */
#navigation-main nav ul li {
  float: left;
  padding: .5em;
}
